@font-face {
    font-family: 'Krasar';
    src: url('font/KRASAR-REGULAR.TTF') format('truetype'),
    url('font/KRASAR-BOLD.TTF') format('truetype');
}

.marquee {
    margin: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10000px;
    background: linear-gradient(90deg, rgba(73, 64, 255, 1) 0%, rgba(171, 28, 255, 1) 100%);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}

.parent_container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 12px 12px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.marquee p {
    font-family: Krasar;
    margin: 0;
    padding: 23px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.container {
    max-width: 90%;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    background-color: #111b28;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Krasar;
}

.menu {
    list-style-type: none;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgba(73, 64, 255, 1) 0%, rgba(171, 28, 255, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    margin: auto;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}


.main_menu {
    display: flex;
}

.main_menu li a {
    text-decoration: none;
    color: white;
    padding: 3px 15px;
    font-size: 16px;
    font-weight: bold;
    margin-right: -12px;
    transition: transform 0.2s ease;
}

.signin_img {
    display: flex;
    align-items: center;

}

.sign_in_icon {
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: #111b28;
    transition: background-color 0.2s ease;
}

.sign_in_icon:hover {
    background-color: orangered;
}

.signin_img a {
    text-decoration: none;
    color: white;
    padding: 3px 15px;
    font-size: 16px;
    font-weight: bold;
    margin-right: -12px;
    transition: transform 0.2s ease;
}

.main_menu li a:hover {
    /*background: -webkit-linear-gradient(90deg, rgba(64, 68, 255, 1) 0%, rgba(255, 28, 136, 1) 100%);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*background-color: white;*/
    color: black;
    border-radius: 8px;
    font-size: 18px;
}

.logo {
    display: flex;
    align-items: center;

    h2 {
        color: white;
        font-size: 20px;
    }

    img {
        border-radius: 50%;
    }
}

.cover_website {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    margin-top: 90px;
}

.cover_img img {
    width: 450px;
    border-radius: 35px;
    margin-top: 20px;
}

.btn {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.btn li {
    list-style: none;
    transition: transform 0.2s ease;
}

.btn li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: bold;
    background: #655efa;
    box-shadow: 0 4px 15px rgba(73, 64, 255, 0.2);
}

.btn li:hover {
    background: #4338ca;
    box-shadow: 0 4px 15px rgba(67, 56, 202, 0.2);
    transform: translateY(-5px);
    border-radius: 14px;
}

.cart img {
    width: 100%;
    height: 100px;
    border-radius: 20px;
    object-fit: contain;
    margin: 0 auto;
}

.cart {
    background-color: white;
    width: 250px;
    height: 350px;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    margin: 20px;
    padding: 20px;
    transition: transform 0.2s ease;
}

.cart:hover {
    transform: translateY(-15px);
}

.btn_buy button a {
    text-decoration: none;
    color: white;
}

.btn_buy button {
    border-radius: 14px;
    cursor: pointer;
    font-family: Krasar;
    font-weight: bolder;
    font-size: 14px;
    border: none;
    background: #655efa;
    box-shadow: 0 4px 15px rgba(73, 64, 255, 0.2);
    padding: 14px 20px;
    width: 300px;
}

.icon_add_to_cart {
    color: white;
    font-weight: bold;
    width: 45px;
    height: 40px;
    margin-left: 10px;
    border-radius: 14px;
    cursor: pointer;
    background: #655efa;
    box-shadow: 0 4px 15px rgba(73, 64, 255, 0.2);
    padding: 2px 18px;
    transition: transform 0.2s ease;
}

.btn_buy img:hover {

    background: #4338ca;
    box-shadow: 0 4px 15px rgba(67, 56, 202, 0.2);
    transform: translateY(-4px);
    border-radius: 14px;
}

.btn_buy button:hover {

    background: #4338ca;
    box-shadow: 0 4px 15px rgba(67, 56, 202, 0.2);
    transition: all 0.3s ease;
    transform: translateY(-4px);
    border-radius: 14px;
}

.product_container {
    height: auto;
    /*background-color: white;*/
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.header_cart {
    height: 120px;
    width: 100%;
}

.header_cart p {
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.2px;
}

.header_cart h2 {
    letter-spacing: 0.2px;
    font-size: 16px;
}

.btn_login {
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    transition: transform 0.3s ease;
    margin-left: 10px
}

.btn_login a {
    text-decoration: none;
    color: black;
}

.btn_login:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/*footer*/
.parent_footer {
    height: 350px;
    background-color: ghostwhite;
    border-radius: 0px 0px 12px 12px;
}

.footer_container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    color: white;
    padding: 40px 80px;
}

.logo_footer {
    display: flex;
    align-items: center;
}

.logo_footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo_footer h3 {
    color: black;
    margin-left: 10px;
    font-size: 30px;
    transition: transform 0.2s, color 0.2s ease;
}

.logo_footer h3:hover {
    transform: translateX(8px);
    color: orange;
    cursor: pointer;
}

.main_footer {
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.menu_type a {
    display: block;
    text-decoration: none;
    color: black;
    line-height: 1.8;
    font-weight: bold;
    transition: transform 0.2s, color 0.2s ease;
}

.menu_type a:hover {
    transform: translateX(8px);
    color: orange;
}

.menu_type p {
    font-weight: bold;
}

.menu_type h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}

.contact_child {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;

    img {
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        width: 12px;
        height: 12px;
    }
}

.copy_right {
    text-align: center;
    color: gray;
    margin-top: 30px;
}

.cover_text {
    h1 {
        font-size: 50px;
        font-weight: bolder;
        letter-spacing: 0.2px;
    }

    h4 {
        font-size: 25px;
        font-weight: bold;
    }
}

.text_contact {
    font-size: 18px;
    letter-spacing: 0.2px;
}

.desc_cover {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.2px;
}

/*footer*/

/*responesive*/
@media (max-width: 1552px) {
    .product_container {
        transition: all .55s;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
}

@media (max-width: 1274px) {
    .cart {
        width: 220px;
        height: 350px;
    }

    .main_menu li a {
        font-size: 16px;
    }

    .sign_in_icon {
        width: 22px;
        height: 22px;
        margin-top: 5px;
    }

    .logo h2 {
        font-size: 18px;
    }

    .logo img {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 1147px) {
    .product_container {
        transition: all .55s;
        gap: 10px;
    }

    .main_menu li a {
        font-size: 14px;
    }

    .main_menu li {
        margin-left: -5px;
    }

    .cart {
        width: 210px;
        height: 350px;
    }

    .cover_text {
        h1 {
            font-size: 34px;
        }

        h4 {
            font-size: 18px;
        }
    }

    .cover_img img {
        width: 350px;
    }
}

@media (max-width: 480px) and (max-width: 420px){
    .product_container {
        transition: all .55s;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 65px;
    }

    .cart {
        width: 80%;
        height: 700px;
    }

    .cart img {
        width: 100%;
        height: 300px;
    }

    .cover_text {
        h1 {
            font-size: 50px;
            margin-bottom: -40px;
        }

        h4 {
            font-size: 35px;
        }
    }

    .header_cart {
        h2 {
            font-size: 30px;
        }

        p {
            font-size: 25px;
        }
    }

    .price {
        margin-top: 60px;
    }

    .price p {
        font-size: 30px;
    }

    .btn_buy button {
        padding: 20px 80px;
        border-radius: 18px;

        a {
            font-size: 25px;
        }
    }

    .icon_add_to_cart {
        height: 78px;
    }

    .btn_buy {
        justify-content: start;
    }

    .footer_container {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
    }

    .main_menu {
        margin-bottom: 30px;
    }

    .logo {
        flex-direction: column;
    }

    .logo h2 {
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .logo img {
        width: 150px;
        height: 150px;
        margin-top: 20px;
    }

    .main_menu li a {
        font-size: 26px;
    }

    .main_menu li a:hover {
        color: black;
        font-size: 26px;
    }

    .cover_website {
        margin-top: 380px;
    }

    .signin_img {
        background-color:white;
        padding: 2px 8px;
        border-radius: 25px;
        position: absolute;
        top: 10px;
        right: 5px;

        a {
            font-size: 26px;
            color:black;
        }

        .sign_in_icon {
            width: 40px;
            height: 40px;
        }
    }

    .cover_website {
        flex-direction: column;
    }

    .cover_img img {
        width: 100%;
        height: auto;
    }
    .desc_cover{
        font-size: 25px;
    }
    .text_contact{
        font-size: 35px;
    }
    .btn li a{
        font-size: 25px;
        padding: 18px 50px;
    }
    body{
        background-color:white;
    }
}